---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-white">
      Hey, soy Fran <Badge>Disponible para trabajar</Badge>
    </h1>
    <h2>
      Desarrollador de Software, Full Stack y eterno Aprendiz apasionado de los
      detalles. Málaga, España 🇪🇸. Especializado en crear y solucionar
      problemas.
    </h2>

    <ul></ul>
  </main>
</Layout>
