---
import Logo from "@components/Logo.astro";
import ArrowUp from "@icons/ArrowUp.astro";
---

<footer class="shadow-xl p-4 md:p-8 lg:p-10 backdrop-blur-sm">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      href="https://www.linkedin.com/in/francisco-jos%C3%A9-r-5b2181bb/"
      class="flex justify-center items-center text-2xl font-semibold text-white"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/favicon.png" class="rounded-full w-10 h-10 mr-4" />
      Fr4n0m
    </a>
    <p class="my-6 text-gray-500 dark:text-gray-400">
      Desarrollador de Software y Full Stack Web. 📍 Málaga, España.
    </p>
    <ul class="flex flex-wrap justify-center items-center mb-6 text-white/80">
      <li>
        <a href="/about" class="mr-4 hover:underline md:mr-6">Sobre mí</a>
      </li>
      <li>
        <a href="#proyectos" class="mr-4 hover:underline md:mr-6">
          Proyectos
        </a>
      </li>
      <li>
        <a href="#experiencia" class="mr-4 hover:underline md:mr-6">
          Experiencia
        </a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
      </li>
      <li>
        <a
          href="mailto:Fran11799@outlook.com"
          class="mr-4 hover:underline md:mr-6"
        >
          Contacto
        </a>
      </li>
      <li>
        <a
          href="/CV_Español_FranciscoJoséRodríguezMartínez.pdf"
          target="_blank"
          class="hover:underline md:mr-6 mr-4"
        >
          CV
        </a>
      </li>
      <li>
        <a
          href="#"
          class="hover:underline flex flex-row items-center justify-center group gap-[2px]"
          >Subir <ArrowUp
            class="size-4 group-hover:-translate-y-[1px] transition-all"
          /></a
        >
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      © 2024{" "}
      <a href="#" class="hover:underline">
        Francisco José Rodríguez Martínez
      </a>
    </span>
  </div>
</footer>
