---
import type { Translations } from '../types/translations';
import CertificationItem from './certifications/CertificationItem.astro';

export interface Props {
  translations: Translations;
}

const { translations } = Astro.props;
const CERTIFICATIONS = translations.certificationsPage.certificationsList;
---

<div class='section w-full mx-auto pt-8 md:pt-16 container lg:w-[740px]'>
  {CERTIFICATIONS.map((certification) => (
    <CertificationItem certification={certification} translations={translations} />
  ))}
</div>
