---
import ExperienceItem from './ExperienceItem.astro';
import { EXPERIENCE } from '@utils/experience';
---

<ol class='relative border-s border-gray-200 ml-3.5 dark:border-gray-200'>
	{
		EXPERIENCE.map(experience => (
			<li class='mb-10 ms-6'>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
