---
import type { Experience } from '../types/experience';
import type { Translations } from '../types/translations';

import ExperienceItem from './ExperienceItem.astro';

const translations: Translations = Astro.props.translations;
const experience = translations.experience.experience;
---

<ol
	class='-mt-3 md:-mt-0 relative border-s border-gray-200 ml-3.5 dark:border-gray-200'
>
	{
		experience.map((item: Experience) => (
			<li class='mb-10 ms-6'>
				<ExperienceItem {...item} />
			</li>
		))
	}
</ol>
