---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center justify-center gap-2 px-3 py-1 space-x-2 text-sm md:text-md text-white transition bg-gray-800 border-gray-600 text-md hover:bg-gray-800 hover:border-white/50 group max-w-fit rounded-md hover:text-white border"
>
  <slot />
</a>
