---
import { commonClasses } from '@utils/cssClasses';

const { class: className, id } = Astro.props;
---

<section
	id={id}
	data-section={id}
	class={`${commonClasses.section.container} ${className || ''} scroll-m-36 md:scroll-m-28 md:pb-24`}
>
	<slot />
</section>
