---
import { TAGS } from '@utils/tags';
import Tag from './Tag.astro';
---

<ul class='flex gap-x-3 flex-row text-nowrap flex-wrap'>
	{
		Object.values(TAGS).map(tag => (
			<li>
				<Tag {...tag} />
			</li>
		))
	}
</ul>
