---
import { TAGS } from '@utils/tags';
---

<ul class='flex gap-x-3 flex-row text-nowrap flex-wrap'>
	{
		Object.values(TAGS).map(tag => (
			<li>
				<a
					target='_blank'
					rel='noopener noreferrer'
					href={tag.link}
					class={`flex gap-x-2 rounded-full text-xs items-center ${tag.class} px-3 py-1 border mb-6 hover:scale-110 active:scale-105 transition-all`}
				>
					<tag.icon class='size-3' />
					{tag.name}
				</a>
			</li>
		))
	}
</ul>
