---
import Layout from '@layouts/Layout.astro';
import SectionContainer from '@components/SectionContainer.astro';
import CodeIcon from '@icons/Code.astro';
import AllProjects from '@components/Projects/AllProjects.astro';
---

<Layout
	title='Proyectos - Portfolio Francisco José Rodríguez Martínez - Desarrollador y Programador Web'
	description='Todos los proyectos - Portfolio Francisco José Rodríguez Martínez - Desarrollador y Programador Web'
>
	<main class='px-4'>
		<SectionContainer id='proyectos' class='pt-36 md:py-28'>
			<h2
				class='text-3xl font-semibold -ml-1 flex gap-x-3 items-center text-gray-700 dark:text-white'
			>
				<CodeIcon class='size-9' />
				Todos los proyectos
			</h2>
		</SectionContainer>
		<AllProjects />
	</main>
</Layout>
