---
const { class: className = '' } = Astro.props;
---

<span
  class={`animate-pulse-scale bg-gradient-to-r from-[#3DD47E]/10 to-[#31ab66]/15 backdrop-blur-[1px] text-[#31ab66] font-medium rounded-lg border border-[#3DD47E]/25 dark:bg-gradient-to-r dark:from-[#31ab66]/15 dark:to-[#3DD47E]/20 dark:text-[#3DD47E] dark:border-[#3DD47E]/25 transition-all ease-out duration-300 inline-flex items-center justify-center relative ${className}`}
>
  <slot />
</span>

<style>
	/* Manejo de tooltips al hacer hover */
	.company-tooltip {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}
	
	.badge-container:hover .company-tooltip {
		opacity: 1;
		visibility: visible;
	}
</style>
